h1 {
    text-align: center;
}

body {
    background: black;
    color: white;
    padding: 0 190px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.demon-snippet {
    border: 5px solid red;
    padding: 20px;
    margin: 20px;
}

p {
    font-size: 14px;
}