h1 {
    text-align: center;
}

body {
    background: black;
    color: white;
    padding: 0 190px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.demon-snippet {
    border: 2px solid rgb(102, 3, 3);
    padding: 20px;
    margin: 20px;
    display: flex;
    background: rgb(34, 34, 34);
}

.snippet-left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snippet-right {
    padding-left: 20px;
    width: 70%;
}

p {
    font-size: 14px;
}

img {
    float: left;
    height: 200px;
    width: auto;
    border: 2px solid rgb(102, 3, 3);
}

a {
    color: rgb(116, 116, 230)
}