
h1 {
    text-align: center;
    font-family: 'Noticia Text', serif;
}

h3 {
    font-family: 'Noticia Text', serif;
    color: white;
}

.demon-list {

}

body {
    background: black;
    color: rgb(102, 3, 3);
    padding: 0 190px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'georgia';

    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.demon-snippet {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(77, 77, 77);
    padding: 20px;
    margin: 20px;
    display: flex;
    color: rgb(102, 3, 3);
    width: 800px;
}

.snippet-left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.snippet-right {
    padding-left: 20px;
    width: 70%;
}

p {
    font-size: 14px;
}

img {
    float: left;
    height: 200px;
    width: auto;
    border: 2px solid rgb(102, 3, 3);
    border: 1px solid rgb(77, 77, 77);

}

a {
    color: rgb(116, 116, 230);
    color: rgb(250, 113, 113);
    color: rgb(255, 255, 255);

    text-decoration: none;
}

.demon-description {
}

.description-ele {
    margin-top: 10px;
    height: 30px;
    font-weight: bold;
}

.demon-img {
    width: auto;
    height: 250px;
    background: rgb(102, 3, 3);
}

.individual-demon-page {
    height: 100vh;
    width: 100vw;
}

.individual-demon {
    width: 500px;
    background: rgb(34, 34, 34);
    background: black;

    padding: 10px 30px;
    border: 2px solid rgb(102, 3, 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    color: rgb(250, 113, 113);
    color: white;
    font-family: 'Noticia Text', serif;
}

.description {
    padding: 0 55px;
    font-size: 16px;
}

.description-ele {
    font-size: 19px;
    line-height: 2;
}

.indent {
    padding: 0 40px 0 40px;
}

.triple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 14px;
}

.triple-grid div {
    padding-left: 11px;
}

.li-indent {
    padding: 0 20px 0 20px;
    font-size: 14px;
}

.left-indent {
    padding-left: 10px;
}

.full-width {
    width: 100%;
}

li {
    font-size: 14px;
}

.double-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
}


.home-button {
    font-size: 16px;
}

.search-container div {
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}



.search-container {
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.search-container button {
    background: rgb(102, 3, 3);
    background: black;
    color: white;
    border: 1px solid white;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    font-family: 'georgia';

}

.search-container div, input {
    background: black;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(77, 77, 77);
}

.search-container div, input:focus{
    background: black;
    border-top: none;
    border-right: none;
    border-left: none;
    outline-offset: 0px;
    outline: 0px;
}



.burgundy {
    background: black;
    width: 300px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: 1px solid rgb(61, 61, 61);
    
}

.dark-red {
    color: rgb(102, 3, 3);

}

.snippet-body {
    font-size: 12px;
}
